.container {
  max-width: 800px;
  margin: auto;
}

.row {
  display: flex;
}

.column-full {
  flex-basis: 100%;
}

.column-one-third {
  flex-basis: calc(100% / 3);
}

.image {
  width: 65%;
}

h2,
h3,
p {
  font-family: lato, sans-serif;
  color: white;
  font-weight: lighter;
}

h2 {
  font-size: 22px;
  padding-top: 15px;
}

h3 {
  font-size: 15px;
}

p {
  color: #bfd2dd;
  font-size: 10px;
  padding-bottom: 45px;
  padding-left: 45px;
  padding-right: 45px;
}

.button {
  border-radius: 6em;
  border: none;
  height: 6em;
  width: 6em;
}

.text-align-center {
  text-align: center;
}

.background-color {
  background-color: #1996da;
}
